<header class="header">
	<div class="header__left">
		<nav class="nav">
			<ul class="nav__list">
				<li>
					<a class="nav__link" href="#">Home</a>
				</li>
				<li>
					<a class="nav__link" href="#">Article</a>
				</li>
				<li>
					<a class="nav__link" href="#">About me</a>
				</li>
				<li>
					<a class="nav__link" href="#">Advertising</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header__right">
		<nav class="nav">
			<ul class="nav__list">
				<li>
					<a class="nav__link" href="#">Profile</a>
				</li>
			</ul>
		</nav>
		<form class="search" action="/" method="POST">
			<input class="search__input" type="text" placeholder="Search by block"/>
		</form>
	</div>
</header>
