<header class="header">
	<div class="header__left">
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link" href="#">Home</a>
				</li>
				<li class="nav__item">
					<a class="nav__link has-subnav" href="#">Article</a>

					<!-- Burger Menu -->

					<ul class="subnav">
						<li>
							<a class="subnav__link" href="#">Creating site</a>
						</li>
						<li>
							<a class="subnav__link" href="#">Internet Marketing</a>
						</li>
						<li>
							<a class="subnav__link" href="#">Video promotion</a>
						</li>
					</ul>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#">About me</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#">Advertising</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header__right">
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link" href="#">Profile</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="#">Sign out</a>
				</li                >
			</ul>
		</nav>
		<form class="search" action="/" method="POST">
			<input class="search__input" type="text" placeholder="Search by block"/>
		</form>
	</div>
</header>
