<aside class="sidebar">
	<div class="sidebar__header">
		<img src="assets/images/Sidebar__img.jpg" alt="" />
	</div>
	<div class="sidebar__content">
		<div class="profile">
			<img class="profile__avatar" src="assets/images/Boss.svg" alt="" />
			<div class="profile__name">Andrey Efimov</div>
			<div class="profile__prof">Front-end developer</div>

			<ul class="social">
				<li class="social__item">
					<a href="" class="social__link" target="_blank">
						<img src="assets/images/instagram.svg" alt="instagram" />
					</a>
				</li>
				<li class="social__item">
					<a href="" class="social__link" target="_blank">
						<img src="assets/images/vk.svg" alt="vk" />
					</a>
				</li>
				<li class="social__item">
					<a href="" class="social__link" target="_blank">
						<img src="assets/images/pinterest.svg" alt="pinterest" />
					</a>
				</li>
			</ul>
			<div class="profile__text">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
					corporis aliquid placeat voluptatum atque, nostrum numquam
					necessitatibus veniam, maiores esse optio quam laboriosam? Hic maiores
					error minima cupiditate voluptas veritatis.
				</p>
			</div>
		</div> <!-- Sidebar__profile -->
	</div> <!-- Sidebar__content -->

	<div class="sidebar__footer">
		<a class="btn btn--red" href="#">My works</a>
		<button class="btn btn--blue" type="button">Write me</button>
	</div>
</aside>
